<div class="container">
    <a routerLink="home">
        <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
    </a>
    <a routerLink="school">
        <mat-icon aria-hidden="false" aria-label="School icon" fontIcon="school"></mat-icon>
    </a>
    <a routerLink="work">
        <mat-icon aria-hidden="false" aria-label="Work icon" fontIcon="work"></mat-icon>
    </a>
    <a routerLink="movies">
        <mat-icon aria-hidden="false" aria-label="Movie icon" fontIcon="theaters"></mat-icon>
    </a>
</div>